.container div{
    display: inline-block;
    margin: 5% auto;
}

* {box-sizing: border-box;}
.dbl-border {
    position: relative;
    display: table;
    margin: 50px auto;
}
.dbl-border img {
    display: block;
    width: 450px;
    height: 370px;
}
.dbl-border:before,
.dbl-border:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid #cccccc;
}
.dbl-border:before {
    top: -15px;
    left: -15px;
}
.dbl-border:after {
    right: -15px;
    bottom: -15px;
}
.image-wrapper {
    position: relative;
    z-index: 2;
    padding: 5px;
    background: white;
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.1);
}


.sign {
    border: 1px solid; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 7px 0 3px 3px; /* Отступы вокруг */
}

.sign figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
}

figcaption{
    text-align: center;
    color: #222222;
    font-family: "Times New Roman";
    font-size: 20px;
}
