body {
    background: #c7b39b url(./background/fancy-pants.jpg);
    color: #fff;
    margin-left: 20%;
    margin-right: 20%;
}

a {
    color: #FCF2E5; /* Цвет обычной ссылки */
    text-decoration: none;
    text-transform: uppercase;
}



